<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container-fluid">
      <div class="row">

      <div class="col-xs-12 col-sm-3 text-right" id="project-menu">
        <div id="site-logo">
          <a href="http://theintrospectiongame.com">
            {{ site.title }}
          </a>

        </div>
        {% include menu.html %}
      </div>

      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
        <div class="lead">{{ page.title }}</div>
      {{ content }}
      </div>

      {% include footer.html %}
      </div>
    </div>
    {% include googleTracking.html %}
  </body>

</html>
